@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'styles/components';
@import 'styles/vars';
@import 'styles/custom';
@import 'styles/mui';

main {
  min-height: 100vh;
  background-color: var(--color-background-main);
  color: var(--color-text-primary);
}

:root {
  --color-primary-100: #f1f4f8;
  --color-primary-200: #c3d5e9;
  --color-primary-300: #87acd4;

  --color-primary-light: #5f8fc5;
  --color-primary-main: #3774b7;
  --color-primary-dark: #265180;

  --color-secondary-light: #7ab37a;
  --color-secondary-main: #59a059;
  --color-secondary-dark: #3e703e;

  // For variables
  --color-paper-main: #ffffff;
  --color-paper-dark: #efefef;
  --color-paper-grey: #dfdfdf;

  --color-text-primary: rgba(0, 0, 0, 0.96);
  --color-text-secondary: rgba(0, 0, 0, 0.55);
  --color-text-disabled: rgba(0, 0, 0, 0.4);

  // For themes only
  --color-background-main: #fafafa;

  --color-border-main: rgba(0, 0, 0, 0.1);
  --color-border-dark: rgba(0, 0, 0, 0.2);
}

body[data-theme='dark'] {
  --color-primary-100: #517399;
  --color-primary-200: #265180;
  --color-primary-300: #1a3859;

  --color-paper-main: #121212;
  --color-paper-dark: #202020;
  --color-paper-grey: #303030;

  --color-text-primary: rgba(255, 255, 255, 0.96);
  --color-text-secondary: rgba(255, 255, 255, 0.6);
  --color-text-disabled: rgba(255, 255, 255, 0.4);

  --color-background-main: #000000;

  --color-border-main: rgba(255, 255, 255, 0.06);
  --color-border-dark: rgba(255, 255, 255, 0.2);
}
